* {
    list-style: none;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Noto Sans KR", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
h1,
h3,
p,
hr {
    margin: 0px;
}

.react-datepicker-wrapper {
    width: 100%;
}
